.h1TitleHome {
  margin-bottom:100px;
  font-size: 50px;
  color: #FFFFFF;
}

.pTextHome {
  margin-bottom: 50px;
  color: #FFFFFF;
  text-align: start;
  font-family: Roboto condensed;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aLinkHome {
  padding: 10px 25px;
  background-color:#F7921E;
  color: #3E1C34;
  font-size: 1.25em;
  border-radius: 10px;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divAudio {
  margin-top: 150px;
  color: #FFFFFF;
}
