body {
  margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

@font-face {
    font-family: 'anotherDangerDemo';
    src: url("../polices/another_danger_demo.otf") format("truetype");
}

.anotherDangerDemo {
  font-family: 'anotherDangerDemo';
}

.h2Title {
  color:#F7921E;
  font-size: 2rem;
  padding-top: 2.5rem;
}

.pParagraph {
  color: #FFFFFF;
  font-family: Roboto condensed;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.h3Title {
  color: #F7921E;
  font-family: Roboto condensed;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.divFooter {
  color: #FFFFFF;
  font-size: 2rem;
  background-color: #712084;
}

.case {
  background-color: #712084;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pEnigme {
  padding-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.inputEnigme {
  background-color: #E8CDEF;
  border-radius: 10px;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 40px;
  margin-bottom: 2.5rem;
}

.buttonEnigme {
  background-color: #F7921E;
  border-radius: 10px;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #3E1C34;
  padding: 5px 15px;
  margin-top: 2.5rem;
}

.reponse {
  color: #B04722;
  letter-spacing: 0.25rem;
}

.aLinkHome {
  padding: 10px 25px;
  background-color:#F7921E;
  color: #3E1C34;
  font-size: 1.25em;
  border-radius: 10px;
  border: unset;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5rem;
}
